<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Broccoli & Co</span>
</nav>
<div class="container">
  <div class="content">
   <p class="title">A better way
  </p>
  <p class="title">to enjoy every day</p>
  <div class="paragraph">Be the first to know when we launch</div>
  <button class="request" (click)="openDialog()">Request an invite</button>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div id="footer" class="navbar-brand"><i>Made with <span class="heart"></span> in Melbourne</i>
    <br>
    <i>2016 Broccoli & Co. All rights reserved.</i>
  </div>
</nav>